@model Logger.Model.Student
@{
    ViewBag.Title = "CreateStudent";
}

<h2>CreateStudent</h2>
@if(Model!=null)
{ 
<div><strong>Hostel Fees</strong>@Model.HostelFee</div>
<div><strong>Semester Fees</strong>@Model.SemesterFee</div>
<div><strong>Examination Fees</strong>@Model.ExaminationFee</div>
<div></div>
}


